@page
@model Appointment_system_managment.Pages.patient_details.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>patient_detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patient_detail.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patient_detail.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patient_detail.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patient_detail.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patient_detail.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patient_detail.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patient_detail.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patient_detail.Phone)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="patient_detail.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
