@page
@model Appointment_system_managment.Pages.appointments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.appointment.Clinic_registration_no)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointment.Clinic_registration_no)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.appointment.Doctor_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointment.Doctor_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.appointment.Patient_registration_no)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointment.Patient_registration_no)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.appointment.Appointment_date_time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointment.Appointment_date_time)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="appointment.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
